{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
  <h2>About this Project</h2>
  <p>This is an open source data science project through <a href="http://www.norc.org/Pages/default.aspx"
  target="_blank">NORC at the University of Chicago</a>. The main data analysis
  repo is at <a href="https://github.com/NORCatUofC/rain" target="_blank">NORCatUofC/rain</a>
  on GitHub, and anyone is welcome to suggest ideas or contribute directly.</p>
</div>
{% endblock %}
