{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="col-md-6 col-md-offset-3">

  <h3>Chicago Rains is an open source, open data science project facilitated by <a href="http://www.norc.org"
  target="_blank">NORC at the University of Chicago</a>.</h3>
    <h4>This project hosted on <a href="https://github.com/NORCatUofC/rain" target="_blank">GitHub</a>.</h4>
    The main data analysis
  repo is at <a href="https://github.com/NORCatUofC/rain" target="_blank">NORCatUofC/rain</a>
  on GitHub, and anyone is welcome to suggest ideas or contribute directly.</h3>
</div>
{% endblock %}
