<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
  <title>Chicago Rain</title>
  <meta charset='utf-8' />
  <!-- Placeholder metadata -->
  <meta content="Visualizing the impact of increasing rain intensity across Chicago." name='description' />
  <!-- Facebook metadata -->
  <meta content="Chicago Rain" property="og:site_name">
  <meta content="Chicago Rain" property="og:title">
  <meta content="website" property="og:type">
  <meta content="Visualizing the impact of increasing rain intensity across Chicago." property="og:description">
  <meta content="http://chicagorains.herokuapp.com/" property="og:url">
  <!-- <meta content="{{ site.url }}{{ site.baseurl }}/img/logo.png" property="og:image"> -->
  <!-- Twitter metadata -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="Chicago Rain">
  <!-- <meta name="twitter:creator" content="NORC at the University of Chicago"> -->
  <meta name="twitter:title" content="Chicago Rain">
  <meta name="twitter:url" content="http://chicagorains.herokuapp.com/">
  <meta name="twitter:description" content="Visualizing the impact of increasing rain intensity across Chicago.">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Chicago Rains</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/one_hundred_year">100-Year Storm</a></li>
                <li><a href="{% url 'basement_flooding' %}">Basement Flooding</a></li>
                <!-- <li><a href="/csos/reversals">Sewage in Lake Michigan</a></li> -->
                <li><a href="{% url 'show_data' %}">Events In Time</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid main-container">
{% block content %}{% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>
{% block scripts %}{% endblock %}
</body>
</html>
