{% extends 'layout.html' %}
{% load static %}
{% load jsonify %}

{% block content %}

    <style>
        #nyearTable th, #nyearTable td {
            border-top: none !important;
        }
    </style>

    <div class="container">
        <h1 style="text-align: center;margin-bottom:45px;">The {{ recurrence }}-Year Storm</h1>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    The {{ recurrence }}-year storm is a means of estimating the likelihood of an event. It is
                    measured by it's intensity, or number of inches per time minutes/hours/days.<br><br>
                </p>
                <h3>A {{ recurrence }}-year storm has a 1/{{ recurrence }} or {{ likelihood }} chance of
                    happening in a given year.</h3>
            </div>
            <div class="col-sm-6">
                <h4 style="text-align: center">Since 1970, we've had {{ num_occurrences }} {{ recurrence }}-year
                    storms</h4>
                <table class="table table-condensed" id="nyearTable">
                    {% for event in events %}
                        <tr>
                            <td>{{ event.date_formatted }}</td>
                            <td>{{ event.inches }} inches in {{ event.duration_formatted }}</td>
                            <td>
                                <a href="{{ event.event_url }}" class="btn btn-primary btn-xs">See it</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:50px;">
        <div class="col-sm-6">
            <h3 style="text-align: center">3 inches in a day is no big deal.  3 inches in an hour, well that is overwhelming!</h3>
            <p>
                Rainfall that happens very quickly does not have an opportunity to infiltrate into the soil, and goes
                straight to the sewers.  If it happens fast, then the infrstatructure can't handle the volume
                of water.  This leads to sewage being dumped into the Chicago River and Lake Michigan, basement
                flooding, and other dangerous city conditions.
                <br><br>
                The n-year storms are defined by the Illinois State Climatologist in
                <a href="http://www.isws.illinois.edu/atmos/statecli/RF/rf.htm">Bulletin 70</a>, and
                is based on historic rainfall data.
            </p>

        </div>
        <div class="col-sm-6">

        </div>
    </div>

{% endblock %}