{% extends 'layout.html' %}
{% load static %}
{% load jsonify %}

{% block content %}

    <link rel="stylesheet" href="{% static 'loopj-slider/css/simple-slider.css' %}"/>

    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                <h2 style='text-align: center;'>The <a href="#">Chicago Climate Action Plan</a> states that we can
                    expect heavier rainfalls --
                </h2>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-9 col-md-offset-2">
                <h4>
                    making travel more dangerous, flooding basements, polluting Lake Michigan and
                    the Chicago River, and stressing the city's infrastructure.</h4>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 25px;">
        <div class="row">
            <h3>What is a heavy rainfall?</h3>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-6">
                <p>
                    When designing things like buildings, roads, and sewer systems, engineers use n-year storms
                    to model what would happen under various types of storms. To do this, they use the
                    n-year rain storm, which defines the probability that a given event will happen in a given
                    year. For example a 5-year event has a 1/5 or 20% chance of occurring in a given year.
                </p>
                <p>
                    3 inches in a day is no big deal. 3 inches in an hour is overwhelming. So the time it takes
                    for the rain to come. Rain intensity is inches per hour/day.
                </p>
            </div>
            <div class="col-sm-6">
                <input type="text" data-slider="true" value="3.0" data-slider-range="0,14" data-slider-step="0.1">
                <div id="nYearInteractive"></div>
            </div>
        </div>

    </div>


    <div class="container">
        <h1 style="text-align: center;">The 100-Year Storm</h1>
        <h3 style="text-align: center">3 inches in a day is no big deal. 3 inches in an hour,<br> well that is
            overwhelming!</h3>
        <div class="row" style="margin-top:35px;">
            <div class="col-sm-6">
                <p>
                    When designing things like buildings, roads, and sewer systems, engineers use n-year storms
                    to model what would happen under various types of storms. To do this, they use the
                    n-year rain storm, which defines the probability that a given event will happen in a given
                    year. For example a 5-year event has a 1/5 or 20% chance of occurring in a given year.
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    The largest of these storms is the 100-year storm, also known as the once-in-a-lifetime
                    storm. It has a 1% chance of happening in a given year. Since it only
                    occurs once in a lifetime, this storm is used to demonstrate that the design can withstand
                    the big one. But, what happens if the once-in-a-lifetime storm is happening more
                    frequently?
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <h3 style="text-align:center">Test</h3>
            <table class="table table-condensed" id="nyearTable"></table>
            <div class="row">
                {% for storm_interval in storm_intervals %}
                    <button type="button" class="btn btn-warning"
                            onclick="drawNYearTable({{ storm_interval }})">{{ storm_interval }}-Year
                    </button>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="col-sm-6">
        <h4 style="text-align: center">Since 1970, we've had {{ num_occurrences }} {{ recurrence }}-year
            storms</h4>
        <table class="table table-condensed" id="nyearTableOld">
            {% for event in events %}
                <tr>
                    <td>{{ event.date_formatted }}</td>
                    <td>{{ event.inches }} inches in {{ event.duration_formatted }}</td>
                    <td>
                        <a href="{{ event.event_url }}" class="btn btn-primary btn-xs">See it</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="container" style="margin-top:50px;">
        <div class="col-sm-6">
            <p>
                Rainfall that happens very quickly does not have an opportunity to infiltrate into the soil, and goes
                straight to the sewers. If it happens fast, then the infrstatructure can't handle the volume
                of water. This leads to sewage being dumped into the Chicago River and Lake Michigan, basement
                flooding, and other dangerous city conditions.
                <br><br>
                The n-year storms are defined by the Illinois State Climatologist in
                <a href="http://www.isws.illinois.edu/atmos/statecli/RF/rf.htm">Bulletin 70</a>, and
                is based on historic rainfall data.
            </p>

        </div>
        <div class="col-sm-6">

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/nyearTable.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{% static 'loopj-slider/js/simple-slider.min.js' %}"></script>
    <script src="{% static 'js/nyearChart.js' %}"></script>

    <script>

        var nyearTable = {{ nyear_events | jsonify }};
        setupNYearTable(nyearTable);

        var nyearThresholds = {{ n_year_thresholds | jsonify }};

        $("[data-slider]").bind("slider:ready slider:changed", function (event, data) {
            updateInches(data.value);
        });

        var initialDurations = stormsForInches(3, nyearThresholds);
        drawNYearChart(nyearThresholds.recurrence_intervals, initialDurations);

    </script>
{% endblock %}