{% extends 'layout.html' %}
{% load static %}
{% load jsonify %}

{% block content %}

    <style>
        #nyearTable th, #nyearTable td {
            border-top: none !important;
        }
    </style>

    <div class="container">
        <h1 style="text-align: center;margin-bottom:45px;">The {{ recurrence }}-Year Storm</h1>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    The {{ recurrence }}-year storm is a means of estimating the likelihood of an event. It is
                    measured by it's intensity, or number of inches per time minutes/hours/days.<br><br>
                </p>
                <h3>A {{ recurrence }}-year storm has a 1/{{ recurrence }} or {{ likelihood }} chance of
                    happening in a given year.</h3>
            </div>
            <div class="col-sm-6">
                <h4 style="text-align: center">Since 1970, we've had {{ num_occurrences }} {{ recurrence }}-year
                    storms</h4>
                <table class="table table-condensed" id="nyearTable">
                    {% for event in events %}
                        <tr>
                            <td>{{ event.date_formatted }}</td>
                            <td>{{ event.inches }} inches in {{ event.duration_formatted }}</td>
                            <td>
                                <a href="{{ event.event_url }}" class="btn btn-primary btn-xs">See it</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}