{% extends 'layout.html' %}
{% load static %}
{% load jsonify %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/total_rainfall_graph.css' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css"/>

    <style>
        #csoMap {
            height: 380px;
        }

    </style>

    <div class="container">
        <h1 style="text-align: center">Chicago Rain</h1>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="startDate" placeholder="Start Date" value="{{ start_date }}">
        </div>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="endDate" placeholder="End Date" value="{{ end_date }}">
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-warning" id="findDatesBtn">Find it</button>
        </div>
    </div>

    <div class="container" style="margin-top:30px;">
        <div class="row">
            <div class="col-sm-5">
                <h3><strong>Total Rainfall:</strong> {{ total_rainfall }}</h3>
                <h3><strong>High Intensity:</strong> {{ high_intensity }}</h3>
                <h3><strong>Sewage Dumped in the Lake:</strong> {{ sewage_lake }}</h3>
                <h3><strong>Sewage in the River:</strong> {{ sewage_river }}</h3>
            </div>
            <div class="col-sm-7">
                <div id="totalRainfallGraph"></div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:90px">
        <div class="col-sm-6">
            <div id="csoMap"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#findDatesBtn').on('click', function () {
            var startDate = $('#startDate').val().replace(/\//g, '-');
            var endDate = $('#endDate').val().replace(/\//g, '-');
            window.location.href = "/date/" + startDate + '/' + endDate;

        });


    </script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{% static 'js/total_rainfall_graph.js' %}"></script>
    <script>
        var graphData = {{ graph_data | jsonify }};
        drawTotalRainfall(graphData.total_rainfall_data);

    </script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="{% static 'js/csoMap.js' %}"></script>
    <script>
        var csoMap = L.map('csoMap').setView([41.8801, -87.6268], 9);
        drawCsoMap(graphData.cso_map, csoMap);
    </script>

{% endblock %}