{% extends 'layout.html' %}
{% load static %}
{% load jsonify %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/total_rainfall_graph.css' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="{% static 'css/floodingBar.css' %}"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">

    <style>
        #csoMap {
            height: 380px;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

    </style>

    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <form class="form-inline">
                <div class="form-group">
                     <div class='input-group date'>
                          <input id='startDate' type='text' class="form-control" placeholder="Start Date" value="{{ start_date }}"/>
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                </div>
                <div class="form-group">
                    <div class='input-group date'>
                         <input id='endDate' type='text' class="form-control" placeholder="End Date" value="{{ end_date }}"/>
                         <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                         </span>
                     </div>
                </div>
                <button class="btn btn-warning" type="button" id="findDatesBtn">View It</button>
            </form>

        </div>
    </div>

    <div class="container" style="margin-top:30px;">
        <div class="row">
            <div class="col-sm-6">
                <h4><strong>Total Rainfall:</strong> {{ total_rainfall }}</h4>
                <h4><strong>High Intensity:</strong> {{ high_intensity | safe }}</h4>
                <div id="totalRainfallGraph"></div>
            </div>
            <div class="col-sm-6">
                <h4><strong>Sewage Dumped in the Lake:</strong> {{ sewage_lake }}</h4>
                <h4><strong>Sewage in the River:</strong> {{ sewage_river }}</h4>
                <div id="csoMap"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h3><strong>Cases of Basement Flooding Reported:</strong> {{ basement_flooding }}</h3>
            <button class="btn btn-default switchBtn" id="wards">Wards</button>
            <button class="btn btn-default switchBtn" id="zip">Zip Code</button>
            <button class="btn btn-default switchBtn" id="community">Communities</button>
            <div id="floodingGraph" style="height:400px;"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(function () {
            $('#startDate').datetimepicker();
            $('#endDate').datetimepicker();
        });
        $('#findDatesBtn').on('click', function () {
            var startDate = $('#startDate').val().replace(/\//g, '-');
            var endDate = $('#endDate').val().replace(/\//g, '-');
            window.location.href = "/date/" + startDate + '/' + endDate;
        });
    </script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{% static 'js/total_rainfall_graph.js' %}"></script>
    <script>
        var graphData = {{ graph_data | jsonify }};
        drawTotalRainfall(graphData['total_rainfall_data']);

    </script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="{% static 'js/csoMap.js' %}"></script>
    <script>
        var csoMap = L.map('csoMap').setView([41.8801, -87.6268], 9);
        drawCsoMap(graphData['cso_map'], csoMap);
    </script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{% static 'js/floodingBar.js' %}"></script>
    <script>
        drawFloodingBar(graphData['flooding_data']);
    </script>

{% endblock %}
